---
layout: default
title: Home
---

<div class="posts">
  {% for post in paginator.posts %}
    <article class="post" role="article">
      <div class="post-title">
        <h2><a href="{{ site.baseurl }}{{ post.url }}">
          {{ post.title }}
        </a></h2>
        <span class="post-date">Posted on <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %-d, %Y" }}</time></span>
        <p>{{ post.summary }}</p>
        <hr>
        <p>
          Tagged
          {% for tag in post.tags %}
            <a href="/tags/{{ tag }}/">{{ tag }}</a>
          {% endfor %}
        </p>
      </div>
    </article>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ paginator.next_page_path | prepend: site.baseurl }}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    <a class="pagination-item newer" href="{{ paginator.previous_page_path | prepend: site.baseurl }}">Newer</a>
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
