---
layout: default-home
title: Home
description: The personal blog of designer and developer Bradley Taunt
---

<div class="posts">
  {% for post in paginator.posts %}
    <article class="post" role="article">
      <div class="post-title">
        <h2><a href="{{ site.baseurl }}{{ post.url }}">
          {{ post.title }}
        </a></h2>
        <span class="post-date">Posted on <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %-d, %Y" }}</time></span>
        <p>{{ post.summary }}</p>
        <hr>
        <p>
          Tagged
          {% for tag in post.tags %}
            <a href="/tags/{{ tag }}/">{{ tag }}</a>
          {% endfor %}
        </p>
      </div>
    </article>
  {% endfor %}
</div>
