---
layout: default
title: Home
---

<div class="posts">
  {% for post in paginator.posts %}
    {% assign currentdate = post.date | date: "%Y" %}
    {% if currentdate != date %}
      <h3 id="y{{currentdate}}">{{ currentdate }}</h3>
      {% assign date = currentdate %} 
    {% endif %}
    <article class="post">
      <div class="post-title">
        <a href="{{ site.baseurl }}{{ post.url }}">
          {{ post.title }}
        </a>
        <time datetime="{{ post.date | date_to_xmlschema }}" class="post-date no-margin">{{ post.date | date: "%B %-d, %Y" }}</time>
      </div>
    </article>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ paginator.next_page_path | prepend: site.baseurl }}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    <a class="pagination-item newer" href="{{ paginator.previous_page_path | prepend: site.baseurl }}">Newer</a>
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
