// Layout
//
// Styles for managing the structural hierarchy of the site.

.container {
  display: flex;
  height: 100%;
  max-width: 1400px;
  margin-left:  auto;
  margin-right: auto;
  position: relative;

  @media (max-width: $large-breakpoint) {
    flex-direction: column;
  }
}

main, aside {
  display: inline-block;
  margin: 0;
  vertical-align: top;

  @media (max-width: $large-breakpoint) {
    display: block;
    width: 100% !important;
  }
}

main {
  background: white;
  padding: 2rem 2rem 0 2rem;
  width: calc(100% - 450px);

  @media (max-width: $large-breakpoint) {
    padding: 1rem;
  }
}

aside {
  background: $gray-1;
  border: 1px solid $gray-1-1;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.05);
  height: 100%;
  padding: 2rem;
  width: 450px;

  @media(max-width: $large-breakpoint) {
    padding: 1rem;
  }

  h2 {
    color: #303030;
    margin-top: 0;
  }

  ul {
    li {
      span {
        display: block;
        font-size: 80%;
        margin-bottom: 0.5rem;
      }
    }
  }
}

footer {
  padding: 2rem 0 1rem;
  position: relative;
  text-align: center;
  z-index: 2;

  a {
    color: inherit;
    text-decoration: underline;
  }
}
