// Layout
//
// Styles for managing the structural hierarchy of the site.

.container {
  display: block;
  height: 100%;
  margin: 0;
  position: relative;
}

main, aside {
  display: block;
  margin: 0 auto;
}

main {
  background: white;
  padding: 2rem;
  width: 100%;

  @media (max-width: $medium-breakpoint) {
    padding: 1rem;
  }
}

aside {
  background: $gray-1;
  height: 100%;
  padding: 2rem;
  width: 100%;

  section {
    margin: 0 auto;
    max-width: 38rem;
    text-align: center;

    @media(max-width: $medium-breakpoint) {
      text-align: left;
    }
  }

  @media(max-width: $large-breakpoint) {
    padding: 2rem 1rem;
  }

  h2 {
    color: #303030;
    margin-top: 0;
  }

  ul {
    li {
      span {
        display: block;
        font-size: 80%;
        margin-bottom: 0.5rem;
      }
    }
  }
}

footer {
  padding: 2rem 0 1rem;
  position: relative;
  text-align: center;
  width: 100%;
  z-index: 2;

  @media(max-width: $medium-breakpoint) {
    text-align: left;
  }

  a {
    color: inherit;
    text-decoration: underline;
  }
}
