// Pagination
//
// Super lightweight (HTML-wise) blog pagination. `span`s are provide for when
// there are no more previous or next posts to show.

.pagination {
  align-items: center;
  color: #ccc;
  display: flex;
  font-size: 80%;
  justify-content: center;
  margin: 2rem 0;
  overflow: hidden; // clearfix
  text-align: center;
  width: 100%;

  @media(max-width: $large-breakpoint) {
    flex-wrap: wrap;
  }
}

// Pagination items can be `span`s or `a`s
.pagination-item {
  display: block;
  padding: 0.5rem  1rem;
  border: solid $gray-2;
  border-width: 1px;

  &:first-child {
    border-radius: 5px 0 0 5px;
  }

  &:last-child {
    border-radius: 0 5px 5px 0;
    margin-left: -1px;
  }
}

// Only provide a hover state for linked pagination items
a.pagination-item,
a.page-number {
  color: $brand-color;
  text-decoration: none;
  transition: .3s ease all;

  &:hover {
    background: $gray-1;
    color: $brand-color !important;
  }
}

//- Page number element
.page-number {
  border: 1px solid $gray-2;
  margin-left: -1px;
  padding: 0.5rem 1rem;
}

@media (min-width: $large-breakpoint) {
  .pagination {
    margin: 3rem 0;
  }

  .pagination-item {
    border-width: 1px;
  }
}
