// Posts and pages
//
// Each post is wrapped in `.post` and is used on default and post layouts. Each
// page is wrapped in `.page` and is only used on the page layout.

.posts {
  h3 {
    color: $brand-color;
  }
}

.page,
.post {
  margin: 0 auto;
  max-width: 38rem;

  li + li {
    margin-top: .25rem;
  }
}

.page { margin-bottom: 4rem; }

.post {
  margin-bottom: 2rem;
  padding-bottom: 2rem; 
  
  &:last-of-type {
    margin-bottom: 0;
    padding-bottom: 0;
  }
}

// Archive list items
.archive-item {
  display: block;
  margin: 0 0 2rem;

  .archive-time {
    display: inline-block;
    font-size: 80%;
    margin-left: 0.5rem;

    @media(max-width: $large-breakpoint) {
      display: block;
      margin-left: 0;
    }
  }
}

// Blog post or page title
.page-title,
.post-title,
.post-title h2 a {
  color: #303030;
}
.page-title,
.post-title,
.post-title h2 {
  margin-top: 0;
}
.post-title p { margin-bottom: 0; }

.post-title {
  align-items: center;
  display: flex;

  @media(max-width:$medium-breakpoint) {
    align-items: flex-start;
    flex-direction: column;
  }
}

// Meta data line below post title
.post-date {
  margin-bottom: 1rem;
  opacity: 0.6;

  @media(min-width: 751px) {
    border-right: 1px solid $gray-2;
    display: flex;
    flex-direction: column;
    color: $gray-2;
    margin-bottom: 0;
    margin-right: 2rem;
    opacity: 1;
    padding: 0 2rem 0 1rem;
    text-align: center;

    time.date-day {
      font-size: 250%;
      line-height: 1;
    }
  }
}

.tags {
  color: $gray-3;
  display: block;
  font-size: 90%;
  margin-top: 0.5rem;
}

// Disqus Container
.disqus-container {
  margin-top: 2rem;
}

// Related posts
.related {
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid #eee;
}

.related-posts {

  h3 {
    margin-top: 0;
  }

  li {
    margin-bottom: 0.5rem;
    small {
      color: #999;
      display: block;
      font-size: 75%;
    }
  }
}
