// Posts and pages
//
// Each post is wrapped in `.post` and is used on default and post layouts. Each
// page is wrapped in `.page` and is only used on the page layout.

.posts {
  h3 {
    color: $brand-color;
  }
}

.page,
.post {
  max-width: 38em;

  @media (max-width: $large-breakpoint) {
    max-width: 100%;
  }

  li + li {
    margin-top: .25rem;
  }
}

.page { margin-bottom: 4rem; }

.post {
  margin-bottom: 2rem;
  padding-bottom: 2rem; 
  hr {
    margin-bottom: 1rem;
  }
}

// Archive list items
.archive-item {
  display: block;
  margin: 0 0 2rem;

  .archive-time {
    display: inline-block;
    font-size: 80%;
    margin-left: 0.5rem;

    @media(max-width: $large-breakpoint) {
      display: block;
      margin-left: 0;
    }
  }
}

// Blog post or page title
.page-title,
.post-title,
.post-title h2 a {
  color: #303030;
}
.page-title,
.post-title,
.post-title h2 {
  margin-top: 0;
}
.post-title p { margin-bottom: 0; }

.post-title {
  display: block;
}

// Meta data line below post title
.post-date {
  display: inline-block;
  margin-bottom: 1rem;
  color: $gray-3;
}

// Disqus Container
.disqus-container {
  margin-top: 2rem;
}

// Related posts
.related {
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid #eee;
}

.related-posts {

  h3 {
    margin-top: 0;
  }

  li {
    margin-bottom: 0.5rem;
    small {
      color: #999;
      display: block;
      font-size: 75%;
    }
  }
}
