$gray-1: #f9f9f9;
$gray-1-1: #e1e1e1;
$gray-2: #ccc;
$gray-3: #767676;
$gray-4: #515151;
$gray-5: #313131;

$red: #ac4142;
$orange: #d28445;
$yellow: #f4bf75;
$green: #90a959;
$cyan: #75b5aa;
$blue: #268bd2;
// $blue: #6a9fb5;
$brown: #8f5536;

$root-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$heading-font-family: $root-font-family;
$root-font-size: 16px;
$root-line-height: 1.5;

$body-color: #515151;
$body-bg: #fff;
$brand-color: $blue;
$brand-color-dark: #0E5C93;
$link-color: $red;

$border-color: #e5e5e5;

$large-breakpoint: 1100px;
$medium-breakpoint: 860px;
$large-font-size: 19px;

$code-font-family: Menlo, Monaco, "Courier New", monospace;
$code-color: #bf616a;
