---
layout: tags
---

<h1 style="margin: 0 0 3rem;text-align:center;">Tagged in: {{page.tag | capitalize}}</h1>

{% for post in site.tags[page.tag] %}
    <article class="post">
        <div class="post-title">
            <span class="post-date">
                <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%b" }}</time>
                <time class="date-day" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%d" }}</time>
                <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%Y" }}</time>
            </span>
            <div>
                <h2><a href="{{ site.baseurl }}{{ post.url }}">
                    {{ post.title }}
                </a></h2>
                <p>{{ post.summary }}</p>
                <span class="tags">
                    Tagged
                    {% for tag in post.tags %}
                    <a href="/tags/{{ tag }}/">{{ tag }}</a>
                    {% endfor %}
                </span>
            </div>
        </div>
    </article>
{% endfor %}
